* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  border: 3px solid blue;
  height: 600px;
}

.App-header {
  background-color: #222;
  height: 80px;
  color: white;
}
.App-header p {
  margin: 0;
}
